# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

.moban.hashes
.package-lock/

.npm/
.pnpm-store/

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
hooks/
platforms/
plugins/
plugins/android.json
plugins/ios.json
www/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate

# from trackbnb-ng

# compiled output
out-tsc
dist-server

# IDEs and editors
.project
.classpath
.c9/
*.launch
.settings/

# misc
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map
/e2e_report/

# backend e2e
/backend_e2e_report/
/.e2e_node_modules/

# macOS sed hacks
*.bak
