<div class="image-container">
  <ng-template #navbarButtons>
    <a [href]="photo.fullResUrl" id="download" ion-button download>
      {{ 'View Full Size' | translate }}
    </a>
  </ng-template>

  <ng-template #watermarkTpl>
    <div class="image-watermark" *ngIf="!!photo.addWatermark">
      <div class="image-watermark-text">
        {{ photo.addWatermark }}
      </div>
    </div>
  </ng-template>

  <ng-template #imageContent>
    <div *ngIf="opened">
      <ng-container *ngTemplateOutlet="watermarkTpl"></ng-container>
    </div>
  </ng-template>

  <ng-container *ngTemplateOutlet="watermarkTpl"></ng-container>
  <img [src]="photo.thumbUrl" #image (click)="presentImage(image)">
</div>
