<ng-template #headerTpl>
  <ng-content select="[header]"></ng-content>
</ng-template>

<ng-template #navButtonsTpl>
  <ng-content select="[navButtons]"></ng-content>
</ng-template>

<ion-header *ngIf="deviceStatus.mobile">
  <ion-navbar class="alignment-titlebar">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="title">
      <div class="logo">
        <img class="logo-img" [src]="'/assets/imgs/' + selectedTheme + '-logo.png'" [alt]="appTitle">
      </div>
      {{ title | translate }}
    </ion-title>
    <ng-container *ngTemplateOutlet="headerTpl"></ng-container>
    <ion-buttons end *ngIf="[navButtons]">
      <ng-container *ngTemplateOutlet="navButtonsTpl"></ng-container>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-navbar class="alignment-titlebar" *ngIf="deviceStatus.desktop">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="title">{{ title | translate }}</ion-title>
    <ng-container *ngTemplateOutlet="headerTpl"></ng-container>
    <ion-buttons end *ngIf="[navButtons]">
      <ng-container *ngTemplateOutlet="navButtonsTpl"></ng-container>
    </ion-buttons>
  </ion-navbar>

  <div [class.ion-content-custom]="padding">
    <div class="content-wrapper">
      <ng-content></ng-content>
    </div>
  </div>

  <ion-toolbar color="light" class="ion-content-custom footer" *ngIf="deviceStatus.desktop">
    <a class="href-title-left" [href]="this.pageLocation.location('tandc')">{{ 'Terms and Conditions' | translate }}</a>
    <a class="href-title-right">{{ '© ' + appTitle + ' 2018' | translate }}</a>
  </ion-toolbar>
</ion-content>
