<app-content [title]="'Profile Details'">
  <div *ngIf="user && profileOwner" class="container">
    <ion-list>
      <ion-item>
        <ion-label floating>{{ 'First Name' | translate }}</ion-label>
        <ion-input id="first_name" type="text" class="validate" [(ngModel)]="user.first_name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>{{ 'Last Name' | translate }}</ion-label>
        <ion-input id="last_name" type="text" class="validate" [(ngModel)]="user.last_name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>{{ 'Email' | translate }}</ion-label>
        <ion-input id="email" type="text" class="validate" [(ngModel)]="user.email"></ion-input>
      </ion-item>

      <ion-item>
        <button ion-button item-end (click)="userDetails()">
          <span class="btn-text">{{ 'Change Details' | translate }}</span>
        </button>
      </ion-item>
    </ion-list>

    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword(); editMode=!editMode;">
      <ion-list>
        <ion-item>
          <ion-label floating>{{ 'Current Password' | translate }}</ion-label>
          <ion-input id="old_pwd" type="password" class="validate" formControlName="old_password"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>{{ 'New Password' | translate }}</ion-label>
          <ion-input id="new_pwd1" type="password" class="validate" formControlName="new_password1"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>{{ 'Repeat New Password' | translate }}</ion-label>
          <ion-input id="new_pwd2" type="password" class="validate" formControlName="new_password2"></ion-input>
        </ion-item>

        <ion-item>
          <button *ngIf="!status" ion-button item-end type="submit" class="btn center waves-effect white black-text" [disabled]="!changePasswordForm.valid">
            <span class="btn-text">{{ 'Change Password' | translate }}</span>
          </button>
        </ion-item>
      </ion-list>
    </form>

  </div>
</app-content>
