<app-content [title]="'Profile Details'">
  <div style=" display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;">
    <img [src]="imagePath" style="height: 150px; width: 150px;  border-radius: 50%; display: inline-block;" />
    <div *ngIf="plataformName != 'mobileweb'">
      <button ion-button icon-only clear (click)='presentActionSheet()' >
        <ion-icon name="create" ></ion-icon>
      </button>
    </div>
    <div  *ngIf="plataformName === 'mobileweb'"> 
        <ion-input type="file" name="file"  (change)="imagePickerForBrowser($event)" ></ion-input>
    </div>
</div>
    <form  [formGroup]="profileFormGroup" (ngSubmit)='save()' style="padding: 5%;">
      <ion-list>

    <ion-item>
      <ion-label stacked>{{ 'First Name' | translate }}</ion-label>
      <ion-input id="firstName" type="text" class="validate" formControlName="firstName" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>{{ 'Last Name' | translate }}</ion-label>
      <ion-input id="lastName" type="text" class="validate" formControlName="lastName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>{{ 'City' | translate }}</ion-label>
      <ion-select formControlName="city">
        <ion-option *ngFor="let city of cities" [value]="city.id">{{city.name}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label stacked>{{ 'Country' | translate }}</ion-label>
      <ion-select formControlName="country">
        <ion-option *ngFor="let country of countries" [value]="country.id">{{country.name}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label stacked>{{ 'interests' | translate }}</ion-label>
      <ion-select formControlName="interest" multiple>
        <ion-option *ngFor="let intrest of interests" [value]="intrest.id">{{intrest.name}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label stacked>{{ 'Profession' | translate }}</ion-label>
      <ion-input id="profession" type="text" class="validate" formControlName="profession"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>{{ 'Mobile' | translate }}</ion-label>
      <ion-input id="mobile" type="number" class="validate" formControlName="mobile"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>{{ 'About Me' | translate }}</ion-label>
      <ion-input id="aboutme" type="textArea" class="validate" formControlName="aboutme"></ion-input>
    </ion-item>

  </ion-list>
  <button ion-button block clear ion-button block type="submit">
    <span class="btn-text">{{ 'SAVE' | translate }}</span>
  </button>
  
  </form>

</app-content>
