page-profile {
  .ion-content-custom {
    padding: 0;
  }

  .item-md {
    padding-left: 0;
  }

  .container {
    padding: 1rem;
    position: relative;
  }

  .profile-wrapper {
    background-color: color($colors, primary);
    padding: 16px;
    text-align: center;

    .profile-card {
      border-radius: 100px;
      display: inline-flex;
      margin-left: auto;
      margin-right: auto;
      margin-top: 16px;
      max-width: 100%;
      position: relative;
      width: auto;
      z-index: 1;
    }


    .profile-card__image {
      border: 5px solid color($colors, light);
      border-radius: 50%;
      float: left;
      height: 100px;
      overflow: hidden;
      position: relative;
      width: 100px;

      img {
        height: 100%;
        object-fit: cover;
        width: 100%;
      }

      label {
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);

        &.change {
          bottom: 0;
          top: unset;
          transform: translate(-50%, 0);
        }
      }
    }

    .profile-card__meta {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      float: left;
      justify-content: center;
      padding-right: 2em;

      .name {
        color: color($colors, primary);
      }
    }

    .card-md {
      h1 {
        color: color($colors, primary);
      }
    }
  }

  @media (min-width: map-get($grid-breakpoints, sm)) {
    .profile-wrapper {
      .profile-card__image {
        height: 150px;
        width: 150px;

        label.change {
          bottom: 5px;
          transform: translate(-50%, 0);
        }
      }
    }
  }

  @media (min-width: map-get($grid-breakpoints, lg)) {
    .toolbar-title {
      visibility: hidden;
    }

    .container {
      padding-left: 32.5rem;
      padding-right: 32.5rem;
      padding-top: 100px;
    }

    ion-fab[right] {
      right: 32.5rem;
    }

    .profile-wrapper {
      background-color: transparent;
      left: 0;
      padding: 0;
      position: absolute;
      right: 0;
      transform: translateY(-50%);
      z-index: 1;

      .profile-card {
        margin-bottom: 0;
        margin-top: 0;
      }

      .profile-card__image {
        height: 200px;
        width: 200px;
      }

      .profile-card__meta .location {
        margin-bottom: 1em;
      }
    }

    .card-md {
      h1 {
        font-size: 3rem;
      }

      h2 {
        font-size: 2rem;
      }
    }
  }

  .profile-card {
    ion-card {
      position: relative;
      text-align: center;
    }

    .card-title {
      color: white;
      font-size: 2.0em;
      font-weight: bold;
      position: absolute;
      top: 36%;
      width: 100%;
    }

    .card-subtitle {
      color: white;
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
    }
  }

  .image-container {
    margin: auto;
    width: 300px;
  }
}
