<ion-header *ngIf="deviceStatus.mobile">
  <ion-navbar class="alignment-titlebar">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'service' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-navbar class="alignment-titlebar" *ngIf="deviceStatus.desktop">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'service' | translate }}</ion-title>
  </ion-navbar>

  <div class="ion-content-custom">
    {{	'Hey! Here is the JSON =' | translate }}
    {{ vari }}
  </div>

  <ion-toolbar color="light" class="ion-content-custom" *ngIf="deviceStatus.desktop">
    <a class="href-title-left" href="#/tandc">{{ 'Terms and Conditions' | translate }}</a>
    <a class="href-title-right">{{ '&copy; Cookiecutter 2018' | translate }}</a>
  </ion-toolbar>
</ion-content>
