<app-content title="{{ pageTitle | translate }}">
  <div *ngIf="!loggedIn && isCustomer">
    <button (click)="nav('event-list')" type="primary" ion-button block>
      {{ 'Browse Events' | translate }}
    </button>
    <button (click)="getPurchasedPhotos()" type="primary" ion-button block>
      {{ 'Get purchased photos' | translate }}
    </button>
  </div>

  <div *ngIf="!loggedIn && !isCustomer">
    <button (click)="setCustomer()" type="primary" ion-button block>
      {{ 'Customer' | translate }}
    </button>
    <button (click)="nav('login')" type="primary" ion-button block>
      {{ 'Photographer' | translate }}
    </button>
  </div>

  <div *ngIf="loggedIn">
    <button (click)="nav('event-list')" type="primary" ion-button block>
      {{ 'Events' | translate }}
    </button>
    <button (click)="nav('new-event')" type="primary" ion-button block>
      {{ 'New Event' | translate }}
    </button>
  </div>
</app-content>
