<app-content *ngIf="!loggedIn" title="Frontpage">
  <button (click)="nav('event-list')" type="primary" ion-button block>
    {{ 'Customer' | translate }}
  </button>
  <button (click)="nav('login')" type="primary" ion-button block>
    {{ 'Photographer' | translate }}
  </button>
</app-content>

<app-content *ngIf="loggedIn" title="Photographer Frontpage">
  <button (click)="nav('event-list')" type="primary" ion-button block>
    {{ 'Events' | translate }}
  </button>
  <button (click)="nav('new-event')" type="primary" ion-button block>
    {{ 'New Event' | translate }}
  </button>
</app-content>
