<app-content title="Event">
  <button ion-button (click)="openPrivateEventBySecret()" full>
    {{ 'Open Private Event' | translate }}
  </button>
  <ion-list>
    <button ion-item *ngFor="let event of events" (click)="eventSelected(event)">
      <ion-icon name="lock" *ngIf="!event.isPublic" item-end></ion-icon>
      {{ event.name }}
    </button>
  </ion-list>
</app-content>

<ion-fab bottom right *ngIf="loggedIn && user.role === 'photographer'">
  <button ion-fab (click)="create()">
    <ion-icon name="add"></ion-icon>
  </button>
</ion-fab>
